<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h1>Data points</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>User</th>
            <th>When</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="datapoints" type="me.robinvdb.runetracker.domain.DataPoint[]"*/-->
        <!--/*@thymesVar id="entry" type="me.robinvdb.runetracker.domain.DataPoint"*/-->
        <tr th:each="entry : ${datapoints}">
            <td th:text="${entry.user.email}">Email</td>
            <td th:text="${entry.formatedDateTime}">Datetime</td>
            <td>
                <a th:href="@{'/datapoint/' + ${entry.id}}" class="btn btn-primary">View</a>
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
