<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer class="footer" th:fragment="footer">
    <div class="container">
        <div>
            <p>
                Made by <a href="https://robinvdb.me" target="_blank" rel="noopener">Robin Van den Broeck</a> for
                IP-Major.
                View the source code at <a
                    href="https://github.com/ucll-ip-2018/project-internet-programming-2018-RobinVdBroeck"
                    target="_blank" rel="noopener">Github</a>
                - <a id="language-english" href="">English</a> | <a id="language-dutch" href="">Nederlands</a>
            </p>
        </div>
    </div>
</footer>
</body>
</body>
</html>
