<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <h1>Index page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque facere reiciendis. Atque autem corporis
        dignissimos eaque, expedita hic illum in incidunt ipsam maxime nam nemo numquam qui quidem, vel.</p>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
