<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="container">
    <!--/*@thymesVar id="dataPoint" type="me.robinvdb.runetracker.domain.DataPoint"*/-->
    <h2>Information</h2>
    <p>
        <strong>ID:</strong>
        <span th:text="${dataPoint.id}"></span>
    </p>
    <p>
        <strong>User:</strong>
        <a th:href="@{'/user/' + ${dataPoint.user.id}}" th:text="${dataPoint.user.displayName}"></a>
    </p>
    <p>
        <strong>Time</strong>
        <span th:text="${dataPoint.formatedDateTime}"></span>
    </p>

    <h2>Skills</h2>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>
                Skill
            </th>
            <th>
                Rank
            </th>
            <th>
                Level
            </th>
            <th>
                Experience
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry: ${dataPoint.getStats}">
            <td th:text="${entry.skill}"></td>
            <td th:text="${entry.rank}"></td>
            <td th:text="${entry.level}"></td>
            <td th:text="${entry.experience}"></td>
        </tr>
        </tbody>
    </table>

    <p>
        <a th:href="@{/datapoint/}">
            Show all datapoints
        </a>
    </p>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
